body{
    color: rgba(26, 236, 194, 0.856);
    background: rgb(243, 103, 150);
    margin: 0px;
    font-family: "Dancing Script",sans-serif;
}

header{
    border-bottom: solid 2px rgb(137, 245, 200);
    padding: 20px;
    font-size: 32px;
    color: rgb(129, 240, 188);
}

.chamada{
    background: rgb(115, 253, 212);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{ 
    margin-left: 5%;
}

h1{
    font-size: 40px;
}

img{
    height: 200px;
}
 .categoria-videos{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}
 .categoria{
    padding-left: 20px;
    padding-right: 20px;
}